Source: gpgme1.0
Priority: standard
Section: libs
Maintainer: Debian GnuPG Maintainers <pkg-gnupg-maint@lists.alioth.debian.org>
Uploaders: Jose Carlos Garcia Sogo <jsogo@debian.org>,
           Daniel Kahn Gillmor <dkg@fifthhorseman.net>
Build-Depends: autotools-dev (>> 20100122.1~),
               debhelper (>> 9~),
               gnupg-agent,
               gnupg2,
               gpgsm,
               libassuan-dev (>> 2.0.2),
               libgpg-error-dev (>> 1.8),
               scdaemon
Standards-Version: 3.9.5
Homepage: http://www.gnupg.org/gpgme.html
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-gnupg/gpgme/trunk/
Vcs-Svn: svn://anonscm.debian.org/pkg-gnupg/gpgme/trunk/

Package: libgpgme11-dev
Section: libdevel
Architecture: any
Depends: libassuan-dev,
         libc6-dev,
         libgpg-error-dev,
         libgpgme11 (= ${binary:Version}),
         libpth-dev,
         ${misc:Depends}
Conflicts: libgpgme-dev, libgpgme10-dev
Description: GPGME - GnuPG Made Easy (development files)
 GPGME is a wrapper library which provides a C API to access some of the
 GnuPG functions, such as encrypt, decrypt, sign, verify, ...
 .
 This package contains the headers and other files needed to compile
 against this library.

Package: libgpgme11
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: gnupg2 (>> 2.0.4), ${misc:Depends}, ${shlibs:Depends}
Suggests: gpgsm (>> 1.9.6)
Description: GPGME - GnuPG Made Easy (library)
 GPGME is a wrapper library which provides a C API to access some of the
 GnuPG functions, such as encrypt, decrypt, sign, verify, ...
 .
 This package contains the library.
